body {
	margin-bottom 50px;
}

br.clear {
    clear: both;
    line-height: 0px;
}

.fiu-pagination {
    margin: 20px 0px;
    height: 100px;
}

.fiu-pagination span {
    padding-right: 10px;
}

.fiu-sample-list {
    margin: 0px;
    padding: 0px;
    display: inline;
}

.fiu-sample-list  ul {
    list-style: none;
    margin: 10px 0px;
    padding: 0px;
}

.fiu-thumb-wrapper {
	background: black;
	overflow: hidden;
	width: 220px;
	height: 220px;
}