h3 {
	margin: 0px;
}

.fiu-gallery {
    width: 100%;
}
    
.fiu-gallery-list {
    margin: 0px;
    list-style: none;
    padding: 0px;
    display: inline;
}

.fiu-gallery-use {
    margin: 0px;
    display: block;
    float: left;
    width: 240px;
    position: relative;
    height: 480px;
    overflow: hidden;
}
 
.fiu-gallery-use-teaser {
    font-size: 24px;
	width: 200px;
	height: 200px;
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 0px;
	left: 0px;
    padding: 10px;
    display: none;
}


.fiu-gallery-use-teaser {
	color: white;
}

.fiu-gallery-use:hover * > .fiu-gallery-use-teaser {
	display: inline-block;
}
 
.fiu-gallery-use p {
    padding-right: 20px;
}


