.fiu-gallery {
    width: 100%;
}
    
.fiu-gallery-list {
    margin: 0px;
    display: inline;
}

.fiu-gallery-list  ul {
    list-style: none;
    margin: 10px 0px;
}

.fiu-gallery-use {
    margin: 0px;
    display: block;
    float: left;
    width: 240px;
    min-height: 400px;
}
 
.fiu-gallery-use h3 {
    padding-right: 20px;
}
 
.fiu-gallery-use p {
    padding-right: 20px;
}

